{% raw %}{% extends "accounts/base.html" %}
{% load i18n %}

{% block account_content %}
<header>
  <h2>{% translate "Reset Password" %}</h2>
  <p>{% translate "Enter your email address and we'll send you a link to reset your password." %}</p>
</header>
<section>
  <form method="post" class="form">
    {% csrf_token %}
    <div class="field">{{ form.email.label_tag }} {{ form.email }}</div>
    <button type="submit" class="btn-primary w-full mt-4">{% translate "Send Reset Link" %}</button>
  </form>
</section>
{% endblock account_content %}
{% endraw %}